@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url(./Font/Poppins-Medium.ttf);
  }
  * {
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  .sidebar-container {
    @apply bg-glass h-[98%] w-[20rem] rounded-3xl ml-6 p-4 
    border transition-all duration-500 border-solid border-glass relative
  }
  .sidebar {
    @apply flex items-center mt-2 p-4 rounded-lg cursor-pointer hover:bg-white transition-all duration-300
  }
  .board-container {
    @apply bg-glass h-[98%] w-[92%] rounded-3xl ml-6 p-4 
    border transition-all duration-500 border-solid border-glass relative mr-5
  }
}