@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
    margin-block: .8em;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #0F172A;
    border-radius: 20px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2D4E97;
  }
}

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url(./Font/Poppins-Medium.ttf);
  }
  * {
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  .sidebar-container {
    @apply bg-glass h-[98%] w-[20rem] rounded-3xl ml-6 p-4 
    border transition-all duration-500 border-solid border-bhind relative
  }
  .sidebar {
    @apply flex items-center mt-2 p-4 rounded-lg cursor-pointer hover:bg-slate-900 transition-all duration-300 
  }
  .list-container {
    @apply bg-glass h-[98%] w-[92%] rounded-3xl ml-6 p-4 
    border transition-all duration-500 border-solid border-bhind mr-5 overflow-y-auto scrollbar relative;
  }
  .sticky-div {
    @apply bg-glass sticky bottom-0 right-8 w-48 ml-auto hover:scale-110 cursor-pointer transition-all duration-300 rounded-3xl p-2
  }
}

